.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!dist/**
!images/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.jj
.claude/**
.local/**
.tmp/**
workspaces/**
*.vsix
